<!DOCTYPE html>
<html>
  <head>
    <title>NewLandbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splash_main_pic = "<%= image_url('splash-main-pic.png') %>";
      window.airbnb_icon = "<%= image_url('airbnb-land.png') %>";
      window.hamburger_icon = "<%= image_url('menu-icon-blk.png') %>";
      window.newport = "<%= image_url('newport.png') %>";
      window.montauk = "<%= image_url('montauk.png') %>";
      window.scranton = "<%= image_url('scranton.png') %>";
      window.lakegeorge = "<%= image_url('lakegeorge.png') %>";
      window.listing_pic01 = "<%= image_url('home-picture01.jpg') %>";
      window.blank_user_profile = "<%= image_url('blank_user_profile.png') %>";
      window.shield_checkmark = "<%= image_url('shield-checkmark.png')  %>";
      window.listing_tag = "<%= image_url('listing_tag.png')  %>";     
      window.aircover = "<%= image_url('aircover-img.webp')  %>";     
      window.linkedin = "<%= image_url('linkedin.png')  %>";     
      window.github = "<%= image_url('github.png')  %>";
      window.tv = "<%= image_url('tv.png')  %>";  
      window.kitchen = "<%= image_url('kitchen.png')  %>";  
      window.wifi = "<%= image_url('wifi.jpg')  %>";  
      window.smokealarm = "<%= image_url('smokealarm.png')  %>";  
      window.bathtubshower = "<%= image_url('bathtubshower.png')  %>"; 
      window.dishwasher = "<%= image_url('dishwasher.webp')  %>"; 
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
